.silo{
  flex-grow: 1;
  flex-basis: 0;
  border-right:1px solid #ccc;
  padding: 16px;
  height:100%;
  overflow: auto;
}
.silo-title{
  display: flex;
  justify-content: space-between;
}
.silo-title-text{
  flex:1 1 auto;
}
.silo-title-numbers{
  flex:0 0 auto;
}
.silo-content{
  padding-top:20px;
}
